# **Pandas 01**

# **#01 : Menyertakan Prefix dan Suffix pada seluruh Kolom Data Frame**

# Import Modules

In [33]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(pd.__version__)

1.3.5
1.3.5

# **Persiapan Data Frame**

In [34]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns = cols) #Jangkauan angka 1-10 dengan dimensi yang ditentukan oleh n_rows dan n_cols
df

   A  B  C  D  E
0  4  1  2  3  1
1  9  4  1  9  2
2  3  2  5  1  8
3  3  9  7  7  7
4  6  4  4  2  4

In [35]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

# **Menyertakan Prefix Kolom**

In [36]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        4        1        2        3        1
1        9        4        1        9        2
2        3        2        5        1        8
3        3        9        7        7        7
4        6        4        4        2        4

menambahkan Prefix yaitu menambahkan string didepan string tertentu

# **Menyertakan Suffix Kolom**

In [37]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        4        1        2        3        1
1        9        4        1        9        2
2        3        2        5        1        8
3        3        9        7        7        7
4        6        4        4        2        4

Sufix merupakan sekumpulan string di bagian belakang

# **#02: Pemilihan baris (rows selection) pada Data Frame**

# **Persiapan Data Frame**

In [38]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 5, size=(n_rows, n_cols)), 
                  columns = cols) #Jangkauan angka 1-10 dengan dimensi yang ditentukan oleh n_rows dan n_cols
df

   A  B  C  D  E
0  2  4  4  1  3
1  1  1  4  4  4
2  2  4  4  2  1
3  4  2  3  1  4
4  2  2  3  1  1
5  2  3  3  4  1
6  3  2  3  2  1
7  2  1  3  2  4
8  2  1  1  2  2
9  3  2  4  2  3

# **Selection dengan operator logika |**

In [39]:
df[(df['A'] == 1) | (df['A'] == 3)]

   A  B  C  D  E
1  1  1  4  4  4
6  3  2  3  2  1
9  3  2  4  2  3

# Selection dengan fungsi **isin()**

In [40]:
df[df['A'].isin([1, 3])] #logika di balik fungsi isin() sama dengan logika OR |

   A  B  C  D  E
1  1  1  4  4  4
6  3  2  3  2  1
9  3  2  4  2  3

# **Mengenal Operator negasi ~**

operator negasi digunakan untuk mengenali not

In [41]:
df[-df['A'].isin([1, 3])]

   A  B  C  D  E
0  2  4  4  1  3
2  2  4  4  2  1
3  4  2  3  1  4
4  2  2  3  1  1
5  2  3  3  4  1
7  2  1  3  2  4
8  2  1  1  2  2

# **#03 Konversi tipe data String ke Numerik pada kolom Data Frame**

# **Persiapan Data Frame**

In [42]:
data = {'col1':['1', '2', '3', 'teks'],
        'col2':['1', '2', '3', '4']} #2 keys yaitu col1 & col2 dan akan menjadi nama kolom
        #values yang pertama akan berisikan data-data yang berada pada kolom pertama
        
df = pd.DataFrame(data)
df

   col1 col2
0     1    1
1     2    2
2     3    3
3  teks    4

In [43]:
df.dtypes #digunakan untuk menecek type data

col1    object
col2    object
dtype: object

# Konversi tipe data dengan fungsi **astype()**

In [44]:
df_x = df.astype({'col2':'int'})
df_x

   col1  col2
0     1     1
1     2     2
2     3     3
3  teks     4

In [45]:
df_x.dtypes

col1    object
col2     int64
dtype: object

# Konversi tipe data numerik dengan fungsi **to_numeric()**

In [46]:
df.apply(pd.to_numeric, errors='coerce')

   col1  col2
0   1.0     1
1   2.0     2
2   3.0     3
3   NaN     4

# **#4 Pemilihan kolom (columns selection) pada Data Frame berdasarkan tipe data**

# **Persiapan Data Frame**

In [47]:
n_rows = 5
n_cols = 2
cols = ['bil_pecahan', 'bil_bulat']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)
df['bil_pecahan'] = df['bil_pecahan'].astype('float') #menkonversi pecahan menjadi tipe data float menggunakan function astype

df.index = pd.util.testing.makeDateIndex(n_rows, freq= 'H') #jumlah data disesuaikan dengan n_rows, data-data yang di generate memiliki interval jam yaitu 1 jam sekali
df = df.reset_index()

df['teks'] = list('ABCDE')

df

                index  bil_pecahan  bil_bulat teks
0 2000-01-01 00:00:00         10.0          7    A
1 2000-01-01 01:00:00          2.0          8    B
2 2000-01-01 02:00:00          5.0          5    C
3 2000-01-01 03:00:00          4.0          2    D
4 2000-01-01 04:00:00         17.0          5    E

In [48]:
df.dtypes

index          datetime64[ns]
bil_pecahan           float64
bil_bulat               int64
teks                   object
dtype: object

# **Memilih kolom bertipe data numerik**

In [49]:
df.select_dtypes(include='number') #fungsi ini akan memanggil kolom yang bertipe data numerik saja

   bil_pecahan  bil_bulat
0         10.0          7
1          2.0          8
2          5.0          5
3          4.0          2
4         17.0          5

In [50]:
df.select_dtypes(include='float') #fungsi ini akan memanggil kolom yang bertipe data float saja

   bil_pecahan
0         10.0
1          2.0
2          5.0
3          4.0
4         17.0

In [51]:
df.select_dtypes(include='int') #fungsi ini akan memanggil kolom yang bertipe data int saja

   bil_bulat
0          7
1          8
2          5
3          2
4          5

# Memilih kolom bertipe data string atau **object**

In [52]:
df.select_dtypes(include='object') #fungsi ini akan memanggil kolom yang bertipe data numerik saja

  teks
0    A
1    B
2    C
3    D
4    E

# Memilih kolom bertipe data string atau **datetime**

In [53]:
df.select_dtypes(include='datetime') #fungsi ini akan memanggil kolom yang bertipe data date saja

                index
0 2000-01-01 00:00:00
1 2000-01-01 01:00:00
2 2000-01-01 02:00:00
3 2000-01-01 03:00:00
4 2000-01-01 04:00:00

# Memilih kolom dengan kombinasi tipe data

In [54]:
df.select_dtypes(include=['number', 'object']) #fungsi ini akan memanggil kolom yang memiliki tipe data numerik dan string

   bil_pecahan  bil_bulat teks
0         10.0          7    A
1          2.0          8    B
2          5.0          5    C
3          4.0          2    D
4         17.0          5    E